# Dependencies
node_modules/

# Build output
out/
dist/
release/

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
Thumbs.db

# Local env
.env
.env.local
